/.git
node_modules
.dockerignore
.env
.env.db
Dockerfile/**/*
fly.toml/**/*
frontend
judge0-v1.11.0
nx-cloud.env
prettier.config.js
README.md
eslintignore
.eslintrc.js
.gitignore
vercel.json
.vercelignore
serverless
